<p id="notice"><%= notice %></p>

<p>
  <strong>Listando cidades do:</strong>
  <%= @state.state_name %>
</p>


<p>
  <strong>Cidades:</strong>
  <%message = 'Nenhuma cidade cadastrada para mostrar'%>
  <%if @cities.length()==0%>
    <%= message %>
  <% end %>
  <% @cities.each do |city| %>
    <p><%= city.city_name %></p>
  <% end %>
</p>

<%= link_to 'Voltar', states_path %>
