
<form action="/cities" method="GET">
  <label for="estado">Estado:</label>
  <input type="text" id="estado" name="estado" value="<%= @searchstate %>"></p>
  <p><label for="city">Cidade:</label>
  <input type="text" id="cidade" name="cidade" value="<%= @searchcity %>"></p>
  <input type="submit" value="Pesquisar">
</form>

<h1>Cidades</h1>
<p id="notice"><%= notice %></p>

<table>
  <thead>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.city_name %></td>
        <td><%= link_to 'Mostrar detalhes', city %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>